
#LogoCabecalho{
    width:180px;
    height: 75px;
    float: left;

}

#cabecalho{
   padding: 0; font-size: 100%;  outline: none; font-weight: 300;
    box-sizing: border-box; font-family: 'Lato', sans-serif;
    border-bottom: 7px solid #2ca02c;

}
main{ background-color: #f5f5f5;
}

.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

.featurette-divider {
    margin: 1rem 0;
    color: #2a2a2a;
}

.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}






a{
    color: #343a40;
}
li{
    text-align: justify;
}
#lista{
    margin-left: 18%
}
#tituloCentro{
    margin-left: 30%;
}
#redeSocial{
    width: 2rem ;

}

#divCont{
    float: left;
}

#galeriaInfo{
    text-align: justify;
    float: left;
}


#at{
    margin-right: 10%;
}
#documentos{
    margin: 3px;
}

footer{

    border-bottom: 7px solid #2ca02c;
}

li{
    text-align: justify;
}


















