

.lh-condensed { line-height: 1.25; }


.col-sm{
    margin-top: 5%;
}

#cpf{
    width: 48%;
    float: left;
    margin-top: 2.3% ;


}
#rg{
    width: 48%;
    float: right;
    margin-top: 2.3% ;

}
#data{
    width: 49%;
    float: left;

}
#campus{
    width: 49%;
    float: right;


}
#periodo{
    width: 33%;
    float: left;
    margin-right: 4%;
}
#turno{
    width: 28.3%;
    float: left;


}

#file{
    width: 100%;
    background-color: white;
    margin-top: 2.3%;
    border: solid 2px lightgray;

}
#curso {
    width: 31%;
    float: left;
    margin-right: 3.5%;
    margin-top: 2.3%;



}
#periodo{
    width: 31%;
    float: left;
    margin-right: 3.5%;
    margin-top: 2.3%;

}
#turno{
    width: 31%;
    margin-top: 2.3%;

}
#bairro{
    margin-top: 2.3%;
    width: 49%;
    float: left;
}
#numero{
    margin-top: 2.3%;
    margin-bottom: 2.3%;
      width: 49%;
      float: right;

}
#banco{
    width: 31%;
    float: right;
    margin-left: 3.5%;
    margin-top: 2.3%;



}
#agencia{
    width: 32%;
    float: right;
    margin-top: 2.3%;


}
#conta{
    width: 30%;
    float: right;
    margin-right: 3.5%;
    margin-top: 2.3%;
    margin-bottom: 2.3%;

}
#botao{
    text-align: center;
    width: 33%;
    background-color: #2a2a2a;
    margin-left: 33%;
    border: solid 3px #2ca02c;
}
#nomet{
    margin-bottom: 2.3%;

}
#email{
    margin-bottom: 2.3%;
    margin-top: 2.3%;
}








