

.lh-condensed { line-height: 1.25; }


.col-sm{
    margin-top: 5%;
}

#botao{
    text-align: center;
    width: 33%;
    background-color: #2a2a2a;
    margin-left: 33%;
    border: solid 3px #2ca02c;
}
label{
    width: 100%;
}
.formR{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
@media screen and (max-width: 800px){
.formR{
    flex-wrap: nowrap;
    display: block;
}
}
#anexo{
width: 100%;
    text-align: left;
}








