

.lh-condensed { line-height: 1.25; }


.col-sm{
    margin-top: 5%;
}

#cpf{
    width: 49%;
    float: left;
    margin-bottom: 9.3%;

}
#rg{
    width: 49%;
    float: right;

}
#data{
    width: 49%;
    float: left;

}
#campus{
    width: 49%;
    float: right;


}
#periodo{
    width: 33%;
    float: left;
    margin-right: 5%;
}
#turno{
    width: 28.3%;
    float: left;


}

#file{
    width: 100%;
    background-color: white;

    border: solid 2px lightgray;
    margin-bottom: 9.5%;
}
#curso {
    width: 30%;
    float: left;
    margin-right: 3.5%;
    margin-bottom: 9.5%;
    margin-top: 9.5%;
}
#periodo{
    width: 32%;
    float: left;
    margin-right: 3.5%;
    margin-top: 9.5%;
}
#turno{
    width: 30%;
    float: left;
    margin-top: 9.5%;
}
#bairro{
    margin-top: 9.3%;
    width: 49%;
    float: left;
}
#numero{
      margin-top: 9.3%;
      width: 49%;
      float: right;
    margin-bottom: 9.5%;
}
#banco{
    width: 31%;
    float: right;
    margin-left: 3.5%;



}
#agencia{
    width: 32%;
    float: right;


}
#conta{
    width: 30%;
    float: right;
    margin-right: 3.5%;

}
#botao{
    text-align: center;
    width: 33%;
    background-color: #2a2a2a;
    margin-left: 33%;
    border: solid 3px #2ca02c;

}




